// ==== CONFIGURATION ==== //

// Set all your configuration variables here!
$theme-name:               "iblog-entrenadordefutbolya";
$theme-uri:                "#";
$theme-author:             "";
$theme-author-uri:         "";
$theme-description:        "";
$theme-version:            "1.0.0";
$theme-text-domain:        "iblog-theme";
$theme-text-domain-path:   "/languages/";

// Images path use css
// ------------------------------------------------
// $imgs: './img/cssimgs/';
$imgs: './img/';
$font-path: './fonts/';
$breadcrumb-divider: "\203A";
$black-custom: #222;
